  /* font */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
  /* font */

/* variables */
:root {
    --dark-color: #101010;
    --green-color: #26aa84;
    --blue-color: #0ea5e9;
    --pink-color: #855169;
    --purple-color: #524163;
    --white-color: #ffffff;
  }
  /* variables */

  /* body */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: var(--purple-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}
  /* body */

  /* container */
  .custom-container {
    max-width: 1410px;
    padding: 0 20px;
    margin: 0 auto;
  }
  /* container */

  /* button */
.button {
  /* font-size: 20px; */
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 10px clamp(1.25rem, 0.778rem + 2.0137vw, 4rem);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  color: var(--white-color);
  background-color: var(--blue-color);
  width: fit-content;
}
/* button */

  /* image-with-text */
.image-with-text {
}

.image-with-text__wrapper {
  gap: 40px 0;
}

@media (min-width: 768px) {
  .image-with-text__wrapper {
    gap: 0 clamp(-2.16rem, -5.4149rem + 13.8874vw, 11.25rem);
  }
}

.image-with-text__image {
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
}

@media (min-width: 768px) {
  .image-with-text__image {
    margin-left: calc((-100vw + 100%) / 2);
    margin-right: 0;
  }
}

.image-with-text__image_row .image-with-text__image {
  margin-right: 0;
}

.image-with-text__image_row-reverse .image-with-text__image {
 margin-left: 0; 
}

@media (min-width: 768px) {
  .image-with-text__image_row-reverse .image-with-text__image {
    margin-left: 0;
    margin-right: calc((-100vw + 100%) / 2);
  }
}

.image-with-text__image_row-reverse .image-with-text__image {
  max-width: 120px;
}

@media (min-width: 425px) {
  .image-with-text__image_row-reverse .image-with-text__image {
    max-width: 100%;
  }
}

.image-with-text__info {
}

.info {
}

.info__head {
}

.info__title {
    color: var(--purple-color);
}

.info__subtitle {
    color: var(--pink-color);
}

.info__text {
    color: var(--purple-color);
}

.info__button {
}
/* image-with-text */

/* image-banner */
.image-banner {}

.image-banner__body {
}

.image-banner__image {
}

.image-banner__logo {
}
/* image-banner */

/* about */
.about {}

.about__row {
}

.about__decorative-text {
  color: rgba(16, 16, 16, 0.03);
  font-size: clamp(7.5rem, 3.2524rem + 18.123vw, 25rem);
}

.about__column {
}

.about__title {
}

.about__text {
}
/* about */

/* colors */
.colors {
  padding: clamp(2.5rem, 0.6796rem + 7.767vw, 10rem) 0;
}

.colors__wrapper {
}

.colors__inner {
  gap: clamp(2.5rem, 0.0728rem + 10.356vw, 12.5rem);
}

.colors__samples {
}

.colors__font {
}

.colors__decor {
  margin-right: -50vw;
}

.custom-container {
}

.samples-colors {
}

.samples-colors__title {
}

.samples {
}

.samples__rectangle {
  width: clamp(3.75rem, 0.1068rem + 15.5443vw, 18.76rem);
  height: clamp(3.75rem, 3.1432rem + 2.589vw, 6.25rem);
}

.samples__rectangle.samples__rectangle_rounded {
  height: clamp(2.5rem, 2.2269rem + 1.165vw, 3.625rem);
}

.font-colors {
}

.font-colors__title {
}

.font-colors__name {
  font-family: "Roboto Condensed";
}

.colors_second .font-colors__name {
  font-family: "Poppins";
}
/* colors */

/* website */
.website {
  padding: clamp(3.75rem, -0.3459rem + 17.4757vw, 20.625rem) 0 clamp(3.75rem, 1.3228rem + 10.356vw, 13.75rem) 0;
}

.website__wrapper {
}

.website__decorative-text {
  font-size: clamp(5rem, 0.1456rem + 20.712vw, 25rem);
  line-height: 100%;
  color: rgba(255, 255, 255, 0.2);
  top: clamp(0.5rem, -0.1068rem + 2.589vw, 3rem);
} 

.website__frame {
  border-radius: 20px;
  border: clamp(0.25rem, 0.159rem + 0.3883vw, 0.625rem) solid var(--white-color);
  /* width: 1412px; */
  width: 100%;
  height: clamp(12.125rem, 1.2027rem + 46.6019vw, 57.125rem);
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.website__frame::-webkit-scrollbar {
  display: none;
}
/* website */

/* website-mobile */
.website-mobile {
}

.website-mobile__body {
  height: clamp(13.4375rem, 6.5352rem + 29.4498vw, 41.875rem);
}
/* website-mobile */

/* collage */
.collage {
}

.collage__inner {
}

.collage__image {
  min-height: 300px;
}

.collage__image_first {
}
.collage__image_second {
}
/* collage */

/* quote */
.quote {
  padding: clamp(0.625rem, 0.3823rem + 1.0356vw, 1.625rem) 0 clamp(3.75rem, 1.3987rem + 10.0324vw, 13.4375rem) 0;
}

.quote__wrapper {
}

.quote__body {
  color: rgba(16, 16, 16, 0.2);
  font-size: clamp(2.25rem, 0.5358rem + 7.3139vw, 9.3125rem);
  line-height: 120%;
}

.quote__first-row {
  gap: clamp(1.625rem, 0.3204rem + 5.5663vw, 7rem);
}

.quote__second-row {
}

.quote__third-row {
  gap: clamp(1.25rem, -0.0243rem + 5.4369vw, 6.5rem);
}

.quote__button {
  font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
  white-space: nowrap;
  max-width: 200px;
  min-width: 124px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .quote__button {
    margin-bottom: clamp(0.6875rem, 0.2931rem + 1.6828vw, 2.3125rem);
  }
}

.quote__icon {
  width: clamp(3.0625rem, 1.3938rem + 7.1197vw, 9.9375rem);
  height: auto;
}
/* quote */

/* case */
.apps__title {
  padding: 100px 0 0 0;
}

.case {
  padding: 200px 0;
}

.case__wrapper {
}

.case__image {
  border-radius: 0px 20px 20px 0px;
}

.case__info {
  border-radius: 20px 0 0 20px;
  border: 2px solid var(--white-color);
  background: linear-gradient(112deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 101.12%);
  backdrop-filter: blur(21px);
  background: linear-gradient(113deg, rgba(181, 195, 241, 0.36) 0%, rgba(255, 255, 255, 0.23) 110.84%);
  box-shadow: 40px 40px 40px 0px rgba(82, 65, 99, 0.10);
  max-width: 1100px;
  max-height: 360px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.info-case__inner {
  margin-left: 150px;
}

.custom-container {
}

.info-case {}

.info-case__top {
}

.info-case__title {
}

.info-case__name {
}

.info-case__middle {
}

.info-case__services {
}

.info-case__services-name {
}

.info-case__services-service {
}

.info-case__bottom {
}

.info-case__button {
  font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
}
/* case */